Repository bitPogo/banana-i18n-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, banana-i18n-kmp, tokenizer, parser, interpreter, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/**/script/**/*.kts

dependencies:
  - buildSrc/**/*
  - gradlePlugin/banana-dependency/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
banana-i18n-kmp:
  - banana-i18n/**/*

# Components
tokenizer:
  - banana-i18n/flex/*
  - banana-i18n/**/tokenizer/*

parser:
  - banana-i18n/**/parser/*

interpreter:
  - banana-i18n/**/interpreter/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-jvm:
  - sample-jvm/**/*

Move LinkRules into SharedRules
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
Labels: banana-i18n-kmp, parser

Remove test-utils from repo
  banana-i18n/build.gradle.kts
  build.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Dependency.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Repository.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
  settings.gradle.kts
  test-utils/build.gradle.kts
  test-utils/src-gen/commonTest/kotlin/tech/antibytes/util/test/.gitkeep
  test-utils/src/androidMain/AndroidManifest.xml
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/CommonResourceLoader.kt
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/annotations/IgnorePlatform.kt
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/annotations/PlatformOnly.kt
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/annotations/PlatformRunner.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/annotations/TestBase64.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/CommonResourceLoader.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/MockContract.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/MockError.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/annotations/IgnorePlatform.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/annotations/PlatformOnly.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/error/FileNotFoundError.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/AssertionExtensionsSpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/CommonResourceLoaderSpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/IgnorePlatformSpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/PlatformOnlySpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/PlatformRunner.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunnerSpec.kt
  test-utils/src/commonTest/resources/something.txt
  test-utils/src/commonTest/resources/template/TestConfig.tmpl
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/CommonResourceLoader.kt
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/annotations/IgnorePlatform.kt
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/annotations/PlatformOnly.kt
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/annotations/PlatformRunner.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/annotations/TestBase64.kt
  test-utils/src/jvmTest/resources/somethingElse.txt
Labels: dependencies, banana-i18n-kmp

Replace AppMouse Fixture
  banana-i18n/build.gradle.kts
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaI18nSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/BananaInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultTextInterceptorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionInterpreterSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/LinkInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/NodeConcatenatorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/VariableInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/XMLInterceptorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenStoreSpec.kt
  buildSrc/src/main/kotlin/tech/antibytes/gradle/banana/config/BananaCoreConfiguration.kt
  gradle.properties
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Dependency.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp, tokenizer, parser, interpreter

Bump updates
  banana-i18n/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp

Bump Updates
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies

Bump updates
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies

Bump updates
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies

Bump Updates
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies

Bump Antibytes
  banana-i18n/build.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Dependency.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp
