Repository bitPogo/banana-i18n-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, banana-i18n-kmp, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/**/script/**/*.kts

dependencies:
  - buildSrc/**/*
  - gradlePlugin/banana-dependency/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
banana-i18n-kmp:
  - banana-i18n/**/*

# jflex-plugin:
  # - gradlePlugin/jflex/**/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-jvm:
  - sample-jvm/**/*

Add Configuration Plugin
  DEVELOPING.adoc
  README.adoc
  banana-i18n/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/tech/antibytes/gradle/banana/config/BananaCore.kt
  buildSrc/src/main/kotlin/tech/antibytes/gradle/banana/config/BananaCoreConfiguration.kt
  buildSrc/src/main/kotlin/tech/antibytes/gradle/banana/config/BananaPublishingConfiguration.kt
  buildSrc/src/main/kotlin/tech/antibytes/gradle/banana/script/quality-spotless.gradle.kts
  gradlePlugin/banana-dependency/build.gradle.kts
  gradlePlugin/banana-dependency/gradle/wrapper/gradle-wrapper.jar
  gradlePlugin/banana-dependency/gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/GradlePlugin.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
  settings.gradle.kts
Labels: scripts, dependencies, documentation, banana-i18n-kmp

Start Tokenenizer
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/flex/FlexSkeleton.skel
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/tokenizer/Character.kt
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/tokenizer/PlatformStringReader.kt
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/androidTest/kotlin/tech/antibytes/banana/tokenizer/CharacterAndroidSpec.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaError.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/Character.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerError.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/CharacterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/StringReaderSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/test/utils/AssertionExtensions.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/Character.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/PlatformStringReader.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/jvmTest/kotlin/tech/antibytes/banana/tokenizer/CharacterJvmSpec.kt
  buildSrc/build.gradle.kts
  gradlePlugin/banana-dependency/settings.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/GradlePlugin.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
  settings.gradle.kts
  test-utils/build.gradle.kts
  test-utils/src/androidMain/AndroidManifest.xml
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonTest/kotlin/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
Labels: dependencies, banana-i18n-kmp

Add Test module
  banana-i18n/build.gradle.kts
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/StringReaderSpec.kt
  build.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
  test-utils/build.gradle.kts
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/annotations/IgnorePlatform.kt
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/annotations/PlatformOnly.kt
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/annotations/PlatformRunner.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunnerSpec.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/annotations/IgnorePlatform.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/annotations/PlatformOnly.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
  test-utils/src/commonTest/kotlin/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/AssertionExtensionsSpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/IgnorePlatformSpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/PlatformOnlySpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/PlatformRunner.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunnerSpec.kt
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/annotations/IgnorePlatform.kt
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/annotations/PlatformOnly.kt
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/annotations/PlatformRunner.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/annotations/RobolectricTestRunner.kt
Labels: dependencies, banana-i18n-kmp

Add ResourceLoader
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/StringReaderSpec.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  test-utils/build.gradle.kts
  test-utils/src-gen/commonTest/kotlin/tech/antibytes/util/test/.gitkeep
  test-utils/src-gen/commonTest/kotlin/tech/antibytes/util/test/config/TestConfig.kt
  test-utils/src/androidMain/kotlin/tech/antibytes/util/test/CommonResourceLoader.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/CommonResourceLoader.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/error/FileNotFoundError.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/CommonResourceLoaderSpec.kt
  test-utils/src/commonTest/resources/something.txt
  test-utils/src/commonTest/resources/template/TestConfig.tmpl
  test-utils/src/jvmMain/kotlin/tech/antibytes/util/test/CommonResourceLoader.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/jvmTest/resources/somethingElse.txt
Labels: banana-i18n-kmp

Add StringReader
  banana-i18n/build.gradle.kts
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/tokenizer/PlatformStringReader.kt
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/androidTest/kotlin/tech/antibytes/banana/tokenizer/CharacterAndroidSpec.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerContract.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/CharacterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/StringReaderSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/test/utils/AssertionExtensions.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/PlatformStringReader.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  banana-i18n/src/jvmTest/kotlin/tech/antibytes/banana/tokenizer/CharacterJvmSpec.kt
Labels: banana-i18n-kmp

Finish Tokenizer
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizer.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/tokenizer/MockReader.kt
  docs/grammar.adoc
  settings.gradle.kts
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/MockContract.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/AssertionExtensionsSpec.kt
Labels: documentation, banana-i18n-kmp
