Repository bitPogo/banana-i18n-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, banana-i18n-kmp, tokenizer, parser, interpreter, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/**/script/**/*.kts

dependencies:
  - buildSrc/**/*
  - gradlePlugin/banana-dependency/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
banana-i18n-kmp:
  - banana-i18n/**/*

# Components
tokenizer:
  - banana-i18n/flex/*
  - banana-i18n/**/tokenizer/*

parser:
  - banana-i18n/**/parser/*

interpreter:
  - banana-i18n/**/interpreter/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-jvm:
  - sample-jvm/**/*

Apply Linter
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaRuntimeError.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/CompoundNodeSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/InterpreterPluginStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/TextInterceptorSpy.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/LoggerStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/ParserPluginControllerStub.kt
  test-utils/src/androidTest/kotlin/tech/antibytes/util/test/annotations/TestBase64.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/IgnorePlatformSpec.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/annotations/PlatformOnlySpec.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/annotations/TestBase64.kt
Labels: banana-i18n-kmp, tokenizer, parser, interpreter

Introduce InterpreterController
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterController.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/InterpreterPluginStub.kt
Labels: banana-i18n-kmp, interpreter

Add Linter to CI
  .github/workflows/ci-pull-request-validation.yml
Labels: build

Refactor FunctionSelector
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionSelector.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/CustomFunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/InterpreterControllerStub.kt
Labels: banana-i18n-kmp, interpreter

Seal internal nodes
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/Nodes.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionSelector.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterController.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/TextInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/CompoundNodeSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/TextInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/FunctionInterpreterStub.kt
Labels: banana-i18n-kmp, parser, interpreter

Add VariableInterpreter to Controller
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/Nodes.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionSelector.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterController.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/TextInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/VariableInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/CompoundNodeSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/TextInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/VariableInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/FunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/InterpreterPluginStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/ParameterizedInterpreterPluginStub.kt
Labels: banana-i18n-kmp, parser, interpreter

Add CompoundInterpreter
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionSelectorSpec.kt
Labels: banana-i18n-kmp, interpreter

Add FunctionSelector to Controller
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionSelector.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterController.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/VariableInterpreterSpec.kt
Labels: banana-i18n-kmp, interpreter

Hook CompoundInterpreter into InterpreterController
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterController.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterControllerSpec.kt
Labels: banana-i18n-kmp, interpreter

Add DefaultLinkFormatter
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatterSpec.kt
Labels: banana-i18n-kmp, interpreter

Add FreeLinkInterpreter
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreterSpec.kt
Labels: banana-i18n-kmp, interpreter

Refactor CompoundInterpreter
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreterSpec.kt
Labels: banana-i18n-kmp, interpreter

Add LinkInterpreter
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/LinkInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/LinkInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/LinkFormatterStub.kt
Labels: banana-i18n-kmp, interpreter

Add NodeConcatenator
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/NodeConcatenator.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/NodeConcatenatorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/NodeConcatenatorStub.kt
Labels: banana-i18n-kmp, interpreter

Model PublicApi
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/LinkInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/LinkFormatterStub.kt
Labels: banana-i18n-kmp, interpreter

Seal InterpreterController
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/Nodes.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FatalInterpreterError.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionSelector.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterController.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/LinkInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/TextInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/VariableInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/CompoundNodeSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/LinkInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/NodeConcatenatorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/TextInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/VariableInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/CustomFunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/FunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/NodeConcatenatorStub.kt
Labels: banana-i18n-kmp, parser, interpreter

Add Locale
  banana-i18n/build.gradle.kts
  banana-i18n/src/androidMain/kotlin/tech/antibytes/banana/Locale.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/Locale.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/Locale.kt
  gradle.properties
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Dependency.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp

Unify ParserPluginController Payload
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserPluginController.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserPluginControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/ParserPluginStub.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp, parser

Fix FreeLink Formatter test
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultLinkFormatterSpec.kt
Labels: banana-i18n-kmp, interpreter

Add Backend Module test
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaBackendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
Labels: banana-i18n-kmp

Add BananaFrontend ModuleTest
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaBackendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
Labels: banana-i18n-kmp

Rename InterpreterController
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/BananaInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/BananaInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaBackendSpec.kt
Labels: banana-i18n-kmp, interpreter

Bump Anitbytes
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies

Add Tokenizer Koin
  banana-i18n/build.gradle.kts
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
Labels: banana-i18n-kmp, tokenizer

Add AstKoin
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/AstKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/AstKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
Labels: banana-i18n-kmp, tokenizer

Add Parser Koin
  banana-i18n/build.gradle.kts
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/AstKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/AstKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserKoinSpec.kt
Labels: banana-i18n-kmp, parser

Start InterpreterKoin
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/AstKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/ast/AstKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
Labels: banana-i18n-kmp, tokenizer, parser, interpreter

Refactor Interpreter
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/BananaInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/CompoundInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FreeLinkInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionSelector.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/LinkInterpreter.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/VariableInterpreter.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/BananaInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/VariableInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaBackendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/CustomFunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/ParameterizedInterpreterPluginStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/VariableInterpreterStub.kt
Labels: banana-i18n-kmp, interpreter

Add InterpreterKoin
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/FunctionInterpreterSelector.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/FunctionInterpreterSelectorSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaBackendSpec.kt
Labels: banana-i18n-kmp, interpreter

Add BananaParameterKoin
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaParameterKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserPluginController.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaParameterKoinSpec.kt
Labels: banana-i18n-kmp, parser

Add InterpreterController to InterpreterKoin
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/interpreter/InterpreterKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterKoinSpec.kt
Labels: banana-i18n-kmp, interpreter

Refactor Tokenhandling
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserEngine.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaParameterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserEngineSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/ParserEngineFake.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/ParserPluginStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/TokenizerStub.kt
Labels: banana-i18n-kmp, tokenizer, parser

Add Koin Initalization
  banana-i18n/build.gradle.kts
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/DIIntregation.kt
Labels: banana-i18n-kmp, tokenizer, parser

Move TokenStore
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/BananaParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenStore.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenStoreSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/DIIntregation.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/ParserPluginStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/TokenStoreFake.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/tokenizer/TokenizerStub.kt
Labels: banana-i18n-kmp, tokenizer, parser

Add BananaI18n
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaI18n.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaI18nSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaParameterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/DefaultFunctionInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/VariableInterpreterSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/ParserPluginControllerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaBackendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/DIIntregation.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/LoggerStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/BananaParserStub.kt
Labels: banana-i18n-kmp, tokenizer, parser, interpreter

Add DefaultLogger
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/DefaultLogger.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/DefaultLoggerSpec.kt
Labels: banana-i18n-kmp

Add BananaBuilder
  banana-i18n/build.gradle.kts
  banana-i18n/src/androidTest/kotlin/tech/antibytes/banana/BananaBuilderSpec.kt
  banana-i18n/src/androidTest/kotlin/tech/antibytes/mock/LocaleFactory.kt
  banana-i18n/src/androidTest/resources/robolectric.properties
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaBuilder.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/DefaultCache.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/DefaultLogger.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaBuilderSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/DefaultCacheSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/CacheStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/LocaleFactory.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/CustomFunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/InterpreterFactoryStub.kt
  banana-i18n/src/jvmTest/kotlin/tech/antibytes/mock/LocaleFactory.kt
Labels: banana-i18n-kmp, interpreter

Remove Caches
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaBuilder.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/DefaultCache.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaBuilderSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/DefaultCacheSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/CacheStub.kt
Labels: banana-i18n-kmp

Start IntegrationTests
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaI18n.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaI18nSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/FullIntegration.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/InterpreterFactoryStub.kt
Labels: banana-i18n-kmp, interpreter

Add IntegrationTest and make adjustments
  banana-i18n/src/androidTest/kotlin/tech/antibytes/banana/BananaBuilderSpec.kt
  banana-i18n/src/androidTest/kotlin/tech/antibytes/mock/LocaleFactory.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaBuilder.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaI18n.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/PublicApi.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/ast/Nodes.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParser.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/ParserKoin.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/SharedParserRules.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoin.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaBuilderSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/BananaParameterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/interpreter/InterpreterKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFreeLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserFunctionSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserLinkSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/BananaParserTextSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/DefaultArgumentsParserSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/TokenizerKoinSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/BananaFrontendSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/DIIntregation.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/integration/FullIntegration.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/LocaleFactory.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/interpreter/CustomFunctionInterpreterStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/BananaParserStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/ParserPluginStub.kt
  banana-i18n/src/jvmTest/kotlin/tech/antibytes/mock/LocaleFactory.kt
Labels: banana-i18n-kmp, tokenizer, parser, interpreter
