Repository bitPogo/banana-i18n-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, banana-i18n-kmp, tokenizer, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/**/script/**/*.kts

dependencies:
  - buildSrc/**/*
  - gradlePlugin/banana-dependency/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
banana-i18n-kmp:
  - banana-i18n/**/*

# Components
tokenizer:
  - banana-i18n/flex/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-jvm:
  - sample-jvm/**/*

Adjust Tokenizer clean up
  banana-i18n/build.gradle.kts
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
Labels: banana-i18n-kmp

Left most RuleClosure
  README.adoc
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  docs/grammar.adoc
Labels: documentation, banana-i18n-kmp, tokenizer

Invoke refactor Grammar Tool Plugin
  banana-i18n/build.gradle.kts
  buildSrc/build.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/GradlePlugin.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp

Add improved Java Skeleton
  banana-i18n/bison/BananaTopLevelParser.y
  banana-i18n/bison/skeleton/c-like.m4
  banana-i18n/bison/skeleton/kotlin-skel.m4
  banana-i18n/bison/skeleton/kotlin.m4
  banana-i18n/bison/skeleton/lalr1.kt
  banana-i18n/build.gradle.kts
  banana-i18n/flex/FlexKotlinCompatibleSkeleton.skel
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/BananaTopLevelParser.java
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/BananaTopLevelParser.kt
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/old/BananaTopLevelParser.kt
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/old/BananaTopLevelParser1.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp, tokenizer

Start customizing Bison
  banana-i18n/bison/BananaTopLevelParser.y
  banana-i18n/bison/skeleton/kotlin.m4
  banana-i18n/bison/skeleton/lalr1.kt
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/BananaTopLevelParser.java
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/BananaTopLevelParser1.kt
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/old/BananaTopLevelParser.kt
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/parser/old/BananaTopLevelParser1.kt
Labels: banana-i18n-kmp

Left most RuleClosure
  README.adoc
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  docs/grammar.adoc
Labels: documentation, banana-i18n-kmp, tokenizer

Remove special literal rules from tokenizer
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/jvmMain/kotlin/tech/antibytes/banana/tokenizer/StringReader.kt
  buildSrc/build.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/GradlePlugin.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Repository.kt
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp, tokenizer

Adjust Template
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/tokenizer/TokenizerError.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
Labels: banana-i18n-kmp, tokenizer

Bump Antibytes
  banana-i18n/build.gradle.kts
  gradlePlugin/banana-dependency/src/main/kotlin/tech/antibytes/gradle/banana/dependency/Version.kt
Labels: dependencies, banana-i18n-kmp

Use Position for tokens
  banana-i18n/build.gradle.kts
  banana-i18n/flex/BananaTokenizer.flex
  banana-i18n/src-gen/commonMain/kotlin/tech/antibytes/banana/tokenizer/BananaFlexTokenizer.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
Labels: banana-i18n-kmp, tokenizer

Add TokenStore
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/BananaContract.kt
  banana-i18n/src/commonMain/kotlin/tech/antibytes/banana/parser/TokenStore.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/parser/TokenStoreSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/banana/tokenizer/BananaTokenizerSpec.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/parser/TokenizerStub.kt
  banana-i18n/src/commonTest/kotlin/tech/antibytes/mock/tokenizer/ReaderStub.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
  test-utils/src/commonMain/kotlin/tech/antibytes/util/test/MockError.kt
  test-utils/src/commonTest/kotlin/tech/antibytes/util/test/AssertionExtensionsSpec.kt
  test-utils/src/jvmTest/kotlin/tech/antibytes/util/test/AssertionExtensions.kt
Labels: banana-i18n-kmp
